.portfolio__title {
  margin: 0;
  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 30px;
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio__link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  padding-bottom: 19px;
  padding-top: 20px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.2s ease 0.1s;
}

.portfolio__link:last-of-type {
  border-bottom: none;
}

.portfolio__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__img {
    max-width: 10px;
    max-height: 18px;
    padding: 4px 3px 1px 1px;
  }
}
