.aboutMe {
  width: 89%;
  display: flex;
  flex-direction: column;
  margin: 110px auto 0;
  padding-bottom: 110px;
}

.aboutMe__container {
  display: flex;
  padding-top: 66px;
  padding-bottom: 101px;
  justify-content: space-between;
  gap: 20px;
}

.aboutMe__container_text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.aboutMe__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  padding-bottom: 18px;
}
.aboutMe__text {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 26px;
  margin: 0;
}

.aboutMe__text:first-of-type {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.aboutMe__git {
  padding-top: 30px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 0.2s ease 0.1s;
}

.aboutMe__git:hover {
  opacity: 0.7;
  cursor: pointer;
}

.aboutMe__link {
  color: white;
  text-decoration: none;
}

.aboutMe__photo {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    width: 87%;
    margin: 90px auto 0;
    padding-bottom: 110px;
  }

  .aboutMe__container {
    padding-top: 66px;
    gap: 40px;
    padding-bottom: 90px;
  }

  .aboutMe__name {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
    padding-bottom: 12px;
  }
  .aboutMe__text {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 15px;
  }

  .aboutMe__text:first-of-type {
    font-size: 12px;
    line-height: 28px;
  }

  .aboutMe__photo {
    max-width: 255px;
    max-height: 307px;
  }

  .aboutMe__git {
    padding-top: 37px;
  }
}

@media screen and (max-width: 550px) {
  .aboutMe {
    width: 91%;
    margin: 71px auto 0;
    padding-bottom: 110px;
  }

  .aboutMe__container {
    padding-top: 60px;
    gap: 43px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 70px;
  }

  .aboutMe__name {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    padding-bottom: 19px;
  }

  .aboutMe__text {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 20px;
  }

  .aboutMe__text:first-of-type {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutMe__git {
    padding-top: 20px;
  }

  .aboutMe__photo {
    max-width: 292px;
    max-height: 352px;
  }
}
